<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

        *, *:before, *:after {
            box-sizing: border-box;
        }

        body {
            background: #C5DDEB;
            font: 14px/20px "Lato", Arial, sans-serif;
            padding: 40px 0;
            color: white;
        }

        .chat {
            float: left;
            background: #F2F5F8;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #434651;
        }

        .chat .chat-header {
            padding: 20px;
            border-bottom: 2px solid white;
        }

        .chat .chat-header img {
            float: left;
        }

        .chat .chat-header .chat-about {
            float: left;
            padding-left: 10px;
            margin-top: 6px;
        }

        .chat .chat-header .chat-with {
            font-weight: bold;
            font-size: 16px;
        }

        .chat .chat-header .chat-num-messages {
            color: #92959E;
        }

        .chat .chat-header .fa-star {
            float: right;
            color: #D8DADF;
            font-size: 20px;
            margin-top: 12px;
        }

        .chat .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 575px;
        }

        .chat .chat-history .message-data {
            margin-bottom: 15px;
        }

        .chat .chat-history .message-data-time {
            color: #a8aab1;
            padding-left: 6px;
        }

        .chat .chat-history .message {
            color: white;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;
        }

        .chat .chat-history .message:after {
            bottom: 100%;
            left: 7%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #86BB71;
            border-width: 10px;
            margin-left: -10px;
        }

        .chat .chat-history .my-message {
            background: #86BB71;
        }

        .chat .chat-history .other-message {
            background: #94C2ED;
        }

        .chat .chat-history .other-message:after {
            border-bottom-color: #94C2ED;
            left: 93%;
        }

        .chat .chat-message {
            padding: 30px;
        }

        .chat .chat-message textarea {
            width: 100%;
            border: none;
            padding: 10px 20px;
            font: 14px/22px "Lato", Arial, sans-serif;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none;
        }

        .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
            font-size: 16px;
            color: gray;
            cursor: pointer;
        }

        .chat .chat-message button {
            float: right;
            color: #94C2ED;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #F2F5F8;
        }

        .chat .chat-message button:hover {
            color: #75b1e8;
        }

        .online, .offline, .me {
            margin-right: 3px;
            font-size: 10px;
        }

        .online {
            color: #86BB71;
        }

        .offline {
            color: #E38968;
        }

        .me {
            color: #94C2ED;
        }

        .align-left {
            text-align: left;
        }

        .align-right {
            text-align: right;
        }

        .float-right {
            float: right;
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    </style>
</head>

<body>

<div class="container clearfix">
    <div class="row col-12">
        <div class="chat w-100">
            <div class="chat-header clearfix">
                <img src="<%= profile %>" style="max-width: 55px; max-height: 55px;" alt="avatar"/>

                <div class="chat-about">
                    <div class="chat-with"><%= to.name %></div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history">
                <ul class="list-unstyled" id="messages">

                </ul>
            </div>
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
<script>
    let from_uuid = '<%- from.uuid %>';
    let from_name = '<%- from.name %>';
    let to_uuid = '<%- to.uuid %>';
    let to_name = '<%- to.name %>';
    let options = {
        weekday: "long", year: "numeric", month: "short",
        day: "numeric", hour: "2-digit", minute: "2-digit",
        second: '2-digit', hour12: false
    };
    let chat_socket = io.connect();
    $('#message-to-send').on("keypress", function (e) {
        if (e.keyCode == 13 && !e.shiftKey) {
            e.preventDefault();
            sendMessage();
            return false;
        }
    });
    $('#sendMessage').on('click', function () {
        sendMessage();
        $('#message-to-send').val('')
    })
    chat_socket.on('chat?', (res) => {
        chat_socket.emit('chat!', {uuid: from_uuid, name: from_name, chat: true});
    })
    chat_socket.on('receive chat', (res) => {
        $('#messages').append(`<li>
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i>${res.from[1]}</span>
                            <span class="message-data-time">${new Date().toLocaleTimeString("en-us", options)}</span>
                        </div>
                        <div class="message my-message">
                            ${res.message}
                        </div>
                    </li>`)
    });

    function sendMessage() {
        if ($('#message-to-send').val().trim() == '') return;
        $('#messages').append(`<li class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">${new Date().toLocaleTimeString("en-us", options)}</span> &nbsp; &nbsp;
                        <span class="message-data-name">${from_name}</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">
                        ${$('#message-to-send').val()}
                    </div>
                </li>`);
        chat_socket.emit('send chat', {
            uuid: from_uuid,
            to_uuid: to_uuid,
            name: from_name,
            message: $('#message-to-send').val()
        });
        $('#message-to-send').val('')
    }
</script>
</body>

</html>
