<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .jumbotron {
            box-shadow: 2px 8px 16px -8px black;
            padding: 1%;
        }

        .btn {
            background-color: #343a40;
            border-color: #343a40;
            color: #00e500;
        }

        .btn:hover {
            background-color: #343a40;
            border-color: #00e500;
            color: #00e500;
        }

        #changePasswordResponse, #changeLinksResponse {
            opacity: 0;
            display: none;
            height: 0;
        }

        #changePasswordResponse.PROFILE-shown, #changeLinksResponse.PROFILE-shown {
            opacity: 1;
            display: block;
            height: auto;
        }
    </style>
</head>

<body>
<% include ../partials/header %>
<div class="container">
    <br class="my-3">
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="changeLinks" class="card rounded-0 align-self-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <h1 class="text-orange display-5">Edit Team <b id="team_name"><%=team.NAME%></b></h1>
                        </div>
                        <div id="changeLinksContent" class="card-body" role="tabpanel">
                            <h1 id="changeLinksResponse">Internal Server Error</h1>
                            <div class="row">
                                <div class="col-md-12 mx-auto">
                                    <form id="changeLinksForm">
                                        <div class="form-group">
                                            <label for="about">About</label>
                                            <textarea class="form-control" rows="5" id="summary"><%=team.SUMMARY%></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="resource_link">Resource URL</label>
                                            <input title="Resource URL"
                                                   value="<%=team.RESOURCE_LINK%>"
                                                   placeholder="Example: https://www.github.com/your_account/your_repository/"
                                                   class="form-control" id="resource_link"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Hackaton</label>
                                            <input required type="text" name="about" id="hackaton"
                                                   class="form-control form-control-lg" value="<%=team.HACKATON%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="linkedinLink">Section</label>
                                            <input required type="text" name="about" id="section"
                                                   class="form-control form-control-lg" value="<%=team.SECTION%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="linkedinLink">Startting on</label>
                                            <input type="text" class="form-control" id="datepickerStart" value="<%=team.START_DATE%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="linkedinLink">Ending on</label>
                                            <input type="text" class="form-control" id="datepickerEnd" value="<%=team.END_DATE%>">      
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-6 mx-auto">
                                    <button class="btn btn-primary btn-lg btn-block" id="applyBtn">Apply
                                    </button>
                                    <hr class="my-3">
                                    <button class="btn btn-primary btn-lg btn-block" id="finish">Mark team as Inactive
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
</div>

<% include ../partials/footer.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script>
       $('#datepickerStart').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '+1d'
        });
       $('#datepickerEnd').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '+1d'
        });
</script>


<script>
    $('#applyBtn').on('click', function(){
        team={
            name:document.getElementById("team_name").innerHTML,
            summary:document.getElementById('summary').value,
            resource_link: $('#resource_link').val(),
            hackaton:document.getElementById('hackaton').value,
            section:document.getElementById('section').value,
            startDate:document.getElementById('datepickerStart').value,
            endDate:document.getElementById('datepickerEnd').value
        };
        $.ajax({
            data:team,
            type:"GET",
            url:"http://localhost:3000/teams/update",
            success: function(res){
                console.log(res.status);
                if(res.status==='succesfull')
                    window.location.href = '/teams/'+team.name;
                else alert(res.status); 
            }
        });
    });
    $("#finish").on('click', function () {
        team={name:document.getElementById("team_name").innerHTML};
        $.ajax({
                        data:team,
                        type: 'GET',
                        url: 'http://localhost:3000/teams/finish',
                        success: function(res) {
                            console.log(res.status);
                            if(res.status==='succesfull')
                              window.location.href = '/teams/'+team.name;
                            else alert(res.status); 
                        }
        });
      });
</script>
</body>
</html>
