<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
    <style type="text/css">
      .jumbotron{
        box-shadow: 2px 8px 16px -8px black;
        padding: 2%;
      }
      .btn{
        background-color: #343a40; 
        border-color: #343a40; 
        color: #00e500;
      }
      .btn:hover{
        background-color: #343a40; 
        border-color: #00e500; 
        color: #00e500;
      }
    </style>
  </head>

  <body>
    <% if(!email){ %>
    <% include ../partials/dashboard-header.ejs %>
    <% } else { %>
    <% include ../partials/header.ejs %>
    <% } %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="jumbotron" style="padding: 1%;">
            <div class="input-group" id="adv-search">
              <% if(term === ''){ %>
                <input type="text" class="form-control" id="searchTerm" placeholder="Search for projects/teams"/>
              <% }else{ %>
              <input type="text" class="form-control" id="searchTerm" placeholder=<%= term %>/>
              <% } %>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn" id="searchBtn"><i class="fas fa-search"></i></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <% for(i in posts){ %>
        <div class="jumbotron">
          <h4 class="display-6"><b><%= posts[i].NAME %>
            <% if(posts[i].HACKATON){ %>
              - Hackaton
            <% }else{ %>
              -Project
            <% } if(posts[i].PLATFORMS !== ''){ %>
             - <%= posts[i].PLATFORMS %>
            <% } %>
            </b></h4>
          <p class="lead"><%= posts[i].SUMMARY %></p>
          <p class="lead">
            <% if(posts[i].HACKATON){ %>
            <a class="btn btn-lg" href="/teams/<%= posts[i].NAME %>" role="button">Learn more</a>
            <% }else{ %>
            <a class="btn btn-lg" href="/projects/<%= posts[i].NAME %>" role="button">Learn more</a>
            <% } %>
          </p>
        </div>
      <% } %>
    </div>

    <% include ../partials/footer %>
    <script>

      var socket = io.connect();
      $('#city').empty();
      $('#searchTerm').keypress(function (e) {
        if (e.which == 13) {
          window.location.href = '/dashboard/'+$("input").val();
        }
      });
      $('#searchBtn').click(function(){
        window.location.href = '/dashboard/'+$("input").val();
      });
      
    </script>

  </body>

</html>
