<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <style type="text/css">
        span.tags {
            background: #ffffff;
            border-radius: 2px;
            color: #000;
            font-weight: bold;
            padding: 2px 4px;
        }

        span.tags.teal {
            background: #1abc9c;
            color: #f5f5f5
        }
    </style>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

        *, *:before, *:after {
            box-sizing: border-box;
        }

        .chat {
            float: left;
            background: #F2F5F8;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #434651;
        }

        .chat .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 575px;
        }

        .chat .chat-history .message-data {
            margin-bottom: 15px;
        }

        .chat .chat-history .message-data-time {
            color: #a8aab1;
            padding-left: 6px;
        }

        .chat .chat-history .message {
            color: white;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;
        }

        .chat .chat-history .message:after {
            bottom: 100%;
            left: 7%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #86BB71;
            border-width: 10px;
            margin-left: -10px;
        }

        .chat .chat-history .my-message {
            background: #86BB71;
        }

        .chat .chat-history .other-message {
            background: #94C2ED;
        }

        .chat .chat-history .other-message:after {
            border-bottom-color: #94C2ED;
            left: 93%;
        }

        .chat .chat-message {
            padding: 30px;
        }

        .chat .chat-message textarea {
            width: 100%;
            border: none;
            padding: 10px 20px;
            font: 14px/22px "Lato", Arial, sans-serif;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none;
        }

        .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
            font-size: 16px;
            color: gray;
            cursor: pointer;
        }

        .chat .chat-message button {
            float: right;
            color: #94C2ED;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #F2F5F8;
        }

        .chat .chat-message button:hover {
            color: #75b1e8;
        }

        .online, .offline, .me {
            margin-right: 3px;
            font-size: 10px;
        }

        .online {
            color: #86BB71;
        }

        .offline {
            color: #E38968;
        }

        .me {
            color: #94C2ED;
        }

        .align-left {
            text-align: left;
        }

        .align-right {
            text-align: right;
        }

        .float-right {
            float: right;
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .profile-link {
            cursor: pointer;
        }
    </style>
</head>
<body>
<% if(!email){ %>
<% include ../partials/dashboard-header.ejs %>
<% } else { %>
<% include ../partials/header.ejs %>
<% } %>
<% include ../partials/footer %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card my-5">
                <div class="card-body">
                    <p>Chat with 
                    <%= receiver %>
                    </p>
                    <div class="chat w-100">
                        <div class="chat-history">
                            <ul class="list-unstyled" id="messages">
                                <% for(index in messages){ %>
                                <% if(messages[index].from_uuid == uuid){ %>
                                <li class="clearfix">
                                    <div class="message-data align-right">
                                        <span class="message-data-time"><%= messages[index].timestamp %></span> &nbsp;
                                        &nbsp; <span class="message-data-name"><%= messages[index].from_name %></span>
                                        <i class="fa fa-circle me"></i>

                                    </div>
                                    <div class="message other-message float-right">
                                        <%= messages[index].message %>
                                    </div>
                                </li>
                                <% }else{ %>
                                <li>
                                    <div class="message-data">
                                        <span class="message-data-name"><i class="fa fa-circle online"></i><%= messages[index].from_name %></span>
                                        <span class="message-data-time"><%= messages[index].timestamp %></span>
                                    </div>
                                    <div class="message my-message">
                                        <%= messages[index].message %>
                                    </div>
                                </li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                            <button id="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let options = {
        weekday: "long", year: "numeric", month: "short",
        day: "numeric", hour: "2-digit", minute: "2-digit",
        second: '2-digit', hour12: false
    };

    let socket = io.connect();
    socket.on('request email', function(){
            socket.emit('receive email', {email:$.cookie('username')});
        });
    socket.on('notification', function(notification){
        if(notification !== '<%= receiver %> sent you a private message')
        $.notify(notification, "info");
    });
    socket.on('send pm', function (res) {
        if (res.from.username != $.cookie('username')) {
            $('#messages').append(`<li>
                <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle online"></i>${res.from.username}</span>
                    <span class="message-data-time">${new Date(res.time).toLocaleTimeString("en-us", options)}</span>
                </div>
                <div class="message my-message">
                    ${res.text}
                </div>
            </li>`);
            document.getElementsByClassName('chat-history')[0].scrollTop = document.getElementsByClassName('chat-history')[0].scrollHeight;
        }
    });
    $("#send").on('click', function () {
        sendMessage();
    });
    $('#message-to-send').on("keypress", function (e) {
        if (e.keyCode == 13 && !e.shiftKey) {
            e.preventDefault();
            sendMessage();
            return false;
        }
    });

    function sendMessage() {
        if ($('#message-to-send').val().trim() == '') return;
            $('#messages').append(`<li class="clearfix">
                        <div class="message-data align-right">
                            <span class="message-data-time">${new Date(Date.now()).toLocaleTimeString("en-us", options)}</span> &nbsp; &nbsp;
                            <span class="message-data-name">${$.cookie('username')}</span> <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                            ${$('#message-to-send').val()}
                        </div>
                    </li>`);
        document.getElementsByClassName('chat-history')[0].scrollTop = document.getElementsByClassName('chat-history')[0].scrollHeight;
        socket.emit('send pm', {
                from: {username: $.cookie('username'), uuid: $.cookie('uuid')},
                to: '<%- receiver %>',
                text: $('#message-to-send').val()
        });
        $('#message-to-send').val('');
    }
    document.getElementsByClassName('chat-history')[0].scrollTop = document.getElementsByClassName('chat-history')[0].scrollHeight;

</script>
</body>

</html>
