<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
    <style type="text/css">
      .jumbotron{
        box-shadow: 2px 8px 16px -8px black;
        padding: 2%;
      }
      .btn{
        background-color: #343a40;
        border-color: #343a40;
        color: #00e500;
      }
      .btn:hover{
        background-color: #343a40;
        border-color: #00e500;
        color: #00e500;
      }
    </style>
  </head>
  <body>
    <% if(!email){ %>
    <% include ../partials/dashboard-header.ejs %>
    <% } else { %>
    <% include ../partials/header.ejs %>
    <% } %>
    <% include ../partials/footer %>
    <div class="container"> 
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron" style="margin-top: 10px;">
              <b><h4 id="project_name"><%= project.NAME %></h4></b>
              <hr class="my-4">
              <label for="comment" project's Purpose</label>
              <h5><%= project.SUMMARY %></h5>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="jumbotron" style="margin-top: 10px; height: 90%;">
                  <h4><b>More details</b></h4>
                  <hr class="my-4">
                  <label for="comment">Commitment</label>
                  <h5><%= project.COMMITMENT %></h5>
                  <label for="comment">Platforms</label>
                  <h5><%= project.PLATFORMS %></h5>
                  <label for="comment">Platform details</label>
                  <h5><%= project.PLATFORM_DETAILS %></h5>
                  <label for="comment">Stage</label>
                  <h5><%= project.STAGE %></h5>
                  <label for="comment">Budget</label>
                  <h5><%= project.BUDGET %></h5>
                </div>
              </div>
              <div class="col-6">
                <div class="jumbotron" style="margin-top: 10px; height: 90%;">
                  <h4><b>Development details</b></h4>
                  <hr class="my-4">
                  <label for="comment">Has funding?</label>
                  <% if(project.FUNDING==='false' || project.FUNDING==='0'){ %>
                  <h5><b>NO</b></h5>
                  <% }else{ %>
                  <h5><b>YES</b></h5>
                  <% } %>
                  <label for="comment">Founder</label>
                  <h5><%= project.FOUNDER %></h5>
                  <label for="comment">Country for development</label>
                  <% if(project.NATIONAL){ %>
                  <h5><%= project.NATIONAL %></h5>
                  <% }else{ %>
                  <h5>Everywhere</h5>
                  <% } %>
                  <label for="comment">Collaborators</label>
                  <% if(project.COLLABORATORS){ %>
                  <h5><%= project.COLLABORATORS %></h5>
                  <% }else{ %>
                  <h5>none yet</h5>
                  <% } %>
                  <% if(email!=project.FOUNDER){ %>
                  <center>
                  <button class="btn" id="join" style="width: 150px; height: 15%; font-size: 200%; margin-left: 5%; margin-top: 5%;"><b>Join</b></button></center>
                  <% }else if(project.ACTIVE==1){ %>
                  <h5>Press the button below to stop searching for The Perfect Team</h5>
                    <button class="btn" id="edit" style="width: 300px; height: 15%; font-size: 200%; margin-left: 5%; margin-top: 5%;"><b>Edit Project</b></button>
                  </button>
                  <% }else{ %>
                  <h5><b>This project was marked as inactive<br> (no longer searching for participants)</b></h5>
                  <% } %>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <% include ../partials/socket-notification.ejs %>
    <script type="text/javascript">
      $("#join").on('click', function () {
        var socket = io.connect();
        var teamname = <%- JSON.stringify(project.NAME) %>;
        var leadern = <%- JSON.stringify(project.FOUNDER) %>;
        socket.emit('request join project', {username:$.cookie('username'), projectName:teamname, leader:leadern, token:'alabalaportocala'});
        socket.on('request join project', function(res){
          if(res.status==="succesfull"){
            alert('A request was sent to the leader. Please wait for confirmation');
            window.location.replace("/dashboard");
          }else{
            alert('An error has occurred:'+ res.status);
          }      
        });

      });
      
      $("#edit").on('click', function(){
        name = document.getElementById("project_name").innerHTML;
        window.location.href='/projects/edit/'+name;
      })
    </script>
  </body>

</html>
