<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
    <link href="search-bar.css" rel="stylesheet">
    <link href="button-style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      .jumbotron{
        box-shadow: 2px 8px 16px -8px black;
        padding: 2%;
      }
      .btn{
        background-color: #343a40; 
        border-color: #343a40; 
        color: #00e500;
      }
      .btn:hover{
        background-color: #343a40; 
        border-color: #00e500; 
        color: #00e500;
      }
    </style>
  </head>
  <body>
    <% if(!email){ %>
    <% include ../partials/dashboard-header.ejs %>
    <% } else { %>
    <% include ../partials/header.ejs %>
    <% } %>
    <% include ../partials/footer %>
    <div class="container"> 
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron" style="margin-top: 10px;">
              <h2><b><%= team.NAME %> - team for Hackaton <%= team.HACKATON %></b></h2>
              <hr class="my-4">
              <label for="comment">Team's Purpose</label>
              <h3><%= team.SUMMARY %></h3>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="jumbotron" style="margin-top: 10px; height: 90%;">
                  <h3><b>Hackaton - <%= team.HACKATON %></b></h3>
                  <hr class="my-4">
                  <label for="comment">Section</label>
                  <h4><%= team.SECTION %></h4>
                  <label for="comment">Start Date</label>
                  <h4><%= team.START_DATE %></h4>
                  <label for="comment">End Date</label>
                  <h4><%= team.END_DATE %></h4>
                  <label for="comment">Platforms</label>
                  <h4><%= team.PLATFORMS %></h4>
                </div>
              </div>
              <div class="col-6">
                <div class="jumbotron" style="margin-top: 10px; height: 90%;">
                  <h3><b>Number of current members: <%= team.NR_MEMBERS %></b></h3>
                  <hr class="my-4">
                  <label for="comment">Founder</label>
                  <h4><%= team.LEADER %></h4>
                  <label for="comment">Other Members:</label>
                  <% if(!team.POST){ %>
                  <h4>none</h4>
                  <% }else{ %>
                  <h4><%= team.POSTS %></h4>
                  <% } %>
                  <label for="comment">Press the button to join the team</label><br>  
                  <button class="btn" id="join" style="width: 150px; height: 20%; font-size: 200%;"><b>Join</b></button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    <script type="text/javascript">
      $("#join").on('click', function () {
        alert('A request was sent to the leader. Please wait for confirmation')
        window.location.replace("/");
      });
    </script>
  </body>

</html>
