<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <style type="text/css">
        span.tags {
            background: #ffffff;
            border-radius: 2px;
            color: #000;
            font-weight: bold;
            padding: 2px 4px;
        }

        span.tags.teal {
            background: #1abc9c;
            color: #f5f5f5
        }
    </style>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

        *, *:before, *:after {
            box-sizing: border-box;
        }

        .chat {
            float: left;
            background: #F2F5F8;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color: #434651;
        }

        .chat .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 575px;
        }

        .chat .chat-history .message-data {
            margin-bottom: 15px;
        }

        .chat .chat-history .message-data-time {
            color: #a8aab1;
            padding-left: 6px;
        }

        .chat .chat-history .message {
            color: white;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;
        }

        .chat .chat-history .message:after {
            bottom: 100%;
            left: 7%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #86BB71;
            border-width: 10px;
            margin-left: -10px;
        }

        .chat .chat-history .my-message {
            background: #86BB71;
        }

        .chat .chat-history .other-message {
            background: #94C2ED;
        }

        .chat .chat-history .other-message:after {
            border-bottom-color: #94C2ED;
            left: 93%;
        }

        .chat .chat-message {
            padding: 30px;
        }

        .chat .chat-message textarea {
            width: 100%;
            border: none;
            padding: 10px 20px;
            font: 14px/22px "Lato", Arial, sans-serif;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none;
        }

        .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
            font-size: 16px;
            color: gray;
            cursor: pointer;
        }

        .chat .chat-message button {
            float: right;
            color: #94C2ED;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #F2F5F8;
        }

        .chat .chat-message button:hover {
            color: #75b1e8;
        }

        .online, .offline, .me {
            margin-right: 3px;
            font-size: 10px;
        }

        .online {
            color: #86BB71;
        }

        .offline {
            color: #E38968;
        }

        .me {
            color: #94C2ED;
        }

        .align-left {
            text-align: left;
        }

        .align-right {
            text-align: right;
        }

        .float-right {
            float: right;
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .profile-link {
            cursor: pointer;
        }
    </style>
</head>
<body>
<% if(!email){ %>
<% include ../partials/dashboard-header.ejs %>
<% } else { %>
<% include ../partials/header.ejs %>
<% } %>
<% include ../partials/footer %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card my-4">
                <div class="card-body">
                    <h4 class="font-weight-bold" id="titleTeam"><%= team.NAME %></h4>
                    <hr class="my-4">
                    <label for="comment">Team's Purpose</label>
                    <h5><%= team.SUMMARY %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card" style="height: 100%;">
                        <div class="card-body">
                            <h4 class="font-weight-bold">Hackaton - <%= team.HACKATON %></h4>
                            <hr class="my-4">
                            <%
                            let joined = false;
                            // console.log(team.POSTS.trim().substr(0, team.POSTS.length - 1).split(',').length);
                            let participants = team.POSTS.trim().substr(0, team.POSTS.length - 1).split(',');
                            if (participants.includes(email) || email == team.LEADER) joined = true
                            %>
                            <% if(team.RESOURCE_LINK && joined) { %>
                            <label for="comment">Resource URL</label>
                            <h5><a href="<%= team.RESOURCE_LINK %>" target="_blank"><%= team.RESOURCE_LINK %></a></h5>
                            <% } %>
                            <label for="comment">Section</label>
                            <h5><%= team.SECTION %></h5>
                            <!--`${('00' + d.getDate()).slice(-2)}/${('00' + (d.getMonth() + 1)).slice(-2)}/${d.getFullYear()}`-->
                            <label for="comment">Start Date</label>
                            <% let ds = new Date(parseInt(team.START_DATE)) %>
                            <h5><%= `${('00' + ds.getDate()).slice(-2)}/${('00' + (ds.getMonth() + 1)).slice(-2)}/${ds.getFullYear()}` %></h5>
                            <label for="comment">End Date</label>
                            <% let de = new Date(parseInt(team.END_DATE)) %>
                            <h5><%= `${('00' + de.getDate()).slice(-2)}/${('00' + (de.getMonth() + 1)).slice(-2)}/${de.getFullYear()}` %></h5>
                            <label for="comment">Platforms</label><br>
                            <% JSON.parse(team.PLATFORMS).forEach((platform) => { %>
                            <span class="tags teal"><%= platform %></span>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card" style="height: 100%;">
                        <div class="card-body">
                            <%
                            let len = 1;
                            if (team.POSTS)
                                len += participants.length
                            %>
                            <h4 class="font-weight-bold">Number of current members: <%= len %></h4>
                            <hr class="my-4">
                            <label for="comment">Founder</label>
                            <div class="card align-items-center my-2 profile-link" data-profile="<%= leader.EMAIL %>">
                                <div class="card-body col-12 d-flex flex-column">
                                    <div class="row">
                                        <div class="col-12 col-md-6 my-auto">
                                            <h5><%= leader.USERNAME %></h5>
                                            <h6><%= leader.EMAIL %></h6>
                                            <h5>Reputation: <span class="<%if(leader.REPUTATION < 0) {%>red<%} else if(leader.REPUTATION == 0) {%>amber<% } else {%>green<%}%>-text"><%= leader.REPUTATION%></span></h5>
                                        </div>
                                        <div class="col-12 col-md-6 my-0 py-0" style="">
                                            <img src="<% if(leader.PROFILE_PICTURE){ %> <%= leader.PROFILE_PICTURE %> <% } else { %>https://identicon-api.herokuapp.com/<%= leader.EMAIL %>/100?format=png<% } %>" alt="" class="" style="max-width: 100px; float: right;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="comment">Other Members:</label>
                            <% if(team.POSTS){ %>
                            <% let collaborators = team.POSTS.trim().substr(0, team.POSTS.length - 1).split(',') %>
                            <% for(index in accounts) { %>
                            <div class="card align-items-center my-2 profile-link" data-profile="<%= accounts[index].EMAIL %>">
                                <div class="card-body col-12 d-flex flex-column">
                                    <div class="row">
                                        <div class="col-12 col-md-6 my-auto">
                                            <h5><%= accounts[index].USERNAME %></h5>
                                            <h6><%= accounts[index].EMAIL %></h6>
                                            <h5>Reputation: <span class="<%if(accounts[index].REPUTATION < 0) {%>red<%} else if(accounts[index].REPUTATION == 0) {%>amber<% } else {%>green<%}%>-text"><%= accounts[index].REPUTATION%></span></h5>
                                        </div>
                                        <div class="col-12 col-md-6 my-0 py-0" style="">
                                            <img src="<% if(accounts[index].PROFILE_PICTURE){ %> <%= accounts[index].PROFILE_PICTURE %> <% } else { %>https://identicon-api.herokuapp.com/<%= accounts[index].EMAIL %>/70?format=png<% } %>" alt="" class="" style="max-width: 100px; float: right;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% } else{ %>
                            <h5>none</h5>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <% if (email != team.LEADER && team.ACTIVE && !joined) { %>
                            <button class="my-3 btn btn-lg btn-block font-weight-bold" id="join">Join</button>
                            <% } else if (team.ACTIVE && email == team.LEADER) { %>
                            <a href="/teams/edit/<%= team.BASE64 %>" class="my-3 btn btn-lg btn-block font-weight-bold" id="editBtn">Edit
                                Team</a>
                            <% } else if(!team.ACTIVE){ %>
                            <h5 class="font-weight-bold text-center">This team was marked as inactive<br> (no longer searching
                                for participants)</h5>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% if(joined) { %>
            <div class="card my-5">
                <div class="card-body">
                    <div class="chat w-100">
                        <div class="chat-history">
                            <ul class="list-unstyled" id="messages">
                                <% for(index in messages){ %>
                                <% if(messages[index].from_uuid == uuid){ %>
                                <li class="clearfix">
                                    <div class="message-data align-right">
                                        <span class="message-data-time"><%= messages[index].timestamp %></span> &nbsp;
                                        &nbsp; <span class="message-data-name"><%= messages[index].from_name %></span>
                                        <i class="fa fa-circle me"></i>

                                    </div>
                                    <div class="message other-message float-right">
                                        <%= messages[index].message %>
                                    </div>
                                </li>
                                <% }else{ %>
                                <li>
                                    <div class="message-data">
                                        <span class="message-data-name"><i class="fa fa-circle online"></i><%= messages[index].from_name %></span>
                                        <span class="message-data-time"><%= messages[index].timestamp %></span>
                                    </div>
                                    <div class="message my-message">
                                        <%= messages[index].message %>
                                    </div>
                                </li>
                                <% } %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
                            <button id="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include ../partials/socket-notification.ejs %>
<script type="text/javascript">
    let posts = '<%- team.POSTS %>'
    let options = {
        weekday: "long", year: "numeric", month: "short",
        day: "numeric", hour: "2-digit", minute: "2-digit",
        second: '2-digit', hour12: false
    };
    let participants = posts.trim().substr(0, posts.length - 1).split(',');
    if (participants.includes($.cookie('username')) || $.cookie('username') == '<%- team.LEADER %>') {
        let group_chat_socket = io.connect();
        group_chat_socket.emit('join room', {
            chat_name: '<%- team.ID %>',
            user: {
                username: $.cookie('username'),
                uuid: $.cookie('uuid')
            }
        });

        group_chat_socket.on('new user to chat', function (res) {
            $('#messages').append('<center><p>User ' + res.from + ' has joined the chat</p></center>');
        });

        group_chat_socket.on('send message', function (res) {
            if (res.from.username != $.cookie('username')) {
                $('#messages').append(`<li>
                        <div class="message-data">
                            <span class="message-data-name"><i class="fa fa-circle online"></i>${res.from.username}</span>
                            <span class="message-data-time">${new Date(res.time).toLocaleTimeString("en-us", options)}</span>
                        </div>
                        <div class="message my-message">
                            ${res.text}
                        </div>
                    </li>`);
                document.getElementsByClassName('chat-history')[0].scrollTop = document.getElementsByClassName('chat-history')[0].scrollHeight;
            }
        });
        $("#send").on('click', function () {
            sendMessage();
        });
        $('#message-to-send').on("keypress", function (e) {
            if (e.keyCode == 13 && !e.shiftKey) {
                e.preventDefault();
                sendMessage();
                return false;
            }
        });

        $('.profile-link').on('click', function () {
            window.location.href = '/profile/' + $(this).data('profile');
        })

        function sendMessage() {
            if ($('#message-to-send').val().trim() == '') return;
            $('#messages').append(`<li class="clearfix">
                        <div class="message-data align-right">
                            <span class="message-data-time">${new Date(Date.now()).toLocaleTimeString("en-us", options)}</span> &nbsp; &nbsp;
                            <span class="message-data-name">${$.cookie('username')}</span> <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                            ${$('#message-to-send').val()}
                        </div>
                    </li>`);
            document.getElementsByClassName('chat-history')[0].scrollTop = document.getElementsByClassName('chat-history')[0].scrollHeight;
            group_chat_socket.emit('send message', {
                from: {username: $.cookie('username'), uuid: $.cookie('uuid')},
                to: '<%- team.ID %>',
                participants: '<%- team.POSTS %>'+'<%- team.LEADER %>'+',',
                group: '<%- team.NAME.replace("\'", "`") %>',
                text: $('#message-to-send').val()
            });
            $('#message-to-send').val('');
        }
        document.getElementsByClassName('chat-history')[0].scrollTop = document.getElementsByClassName('chat-history')[0].scrollHeight;
    }

    $("#join").on('click', function () {
        let socket = io.connect();
        let teamName = '<%- team.NAME %>';
        let teamLeader = '<%- team.LEADER %>';
        socket.emit('request join team', {
            username: $.cookie('username'),
            teamUUID: '<%- team.BASE64 %>',
            teamName: teamName,
            leader: teamLeader,
            token: 'alabalaportocala'
        });
        socket.on('request join team', function (res) {
            if (res.status === "successful") {
                alert('A request was sent to the leader. Please wait for confirmation');
                window.location.replace("/dashboard");
            } else {
                alert('An error has occurred:' + res.status);
            }
        });

    });

</script>
</body>

</html>
