<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
    <link href="search-bar.css" rel="stylesheet">
    <link href="button-style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      .jumbotron{
        box-shadow: 2px 8px 16px -8px black;
        padding: 2%;
      }
      .btn{
        background-color: #343a40; 
        border-color: #343a40; 
        color: #00e500;
      }
      .btn:hover{
        background-color: #343a40; 
        border-color: #00e500; 
        color: #00e500;
      }
    </style>
  </head>
  <body>
    <% if(!email){ %>
    <% include ../partials/dashboard-header.ejs %>
    <% } else { %>
    <% include ../partials/header.ejs %>
    <% } %>
    <% include ../partials/footer %>
    <div class="container"> 
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron" style="margin-top: 10px;">
              <h4 id="titleTeam"><b><%= team.NAME %> - team for Hackaton <%= team.HACKATON %></b></h4>
              <hr class="my-4">
              <label for="comment">Team's Purpose</label>
              <h5><%= team.SUMMARY %></h5>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="jumbotron" style="margin-top: 10px; height: 90%;">
                  <h4><b>Hackaton - <%= team.HACKATON %></b></h4>
                  <hr class="my-4">
                  <label for="comment">Section</label>
                  <h5><%= team.SECTION %></h5>
                  <label for="comment">Start Date</label>
                  <h5><%= team.START_DATE %></h5>
                  <label for="comment">End Date</label>
                  <h5><%= team.END_DATE %></h5>
                  <label for="comment">Platforms</label>
                  <h5><%= team.PLATFORMS %></h5>
                </div>
              </div>
              <div class="col-6">
                <div class="jumbotron" style="margin-top: 10px; height: 90%;">
                  <h4><b>Number of current members: <%= team.NR_MEMBERS %></b></h4>
                  <hr class="my-4">
                  <label for="comment">Founder</label>
                  <h5><%= team.LEADER %></h5>
                  <label for="comment">Other Members:</label>
                  <% if(!team.POST){ %>
                  <h5>none</h5>
                  <% }else{ %>
                  <h5><%= team.POSTS %></h5>
                  <% } %>
                  <% if(email!=team.LEADER){ %>
                  <label for="comment">Press the button to join the team</label><br>  
                  <button class="btn" id="join" style="width: 150px; height: 20%; font-size: 200%;"><b>Join</b></button>
                  <% }else{ %>
                  <h5>You are the Founder of this team</h5>
                  <% } %>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <h1 style="display: none" id="teamNAME"><%= team.NAME %></h1>
    <script type="text/javascript">
      $("#join").on('click', function () {
        var socket = io.connect();
        var teamname = <%- JSON.stringify(team.NAME) %>;
        var leadern = <%- JSON.stringify(team.LEADER) %>;
        socket.emit('request join team', {username:$.cookie('username'), teamName:teamname, leader:leadern, token:'alabalaportocala'});
        socket.on('request join team', function(res){
          if(res.status==="succesfull"){
            alert('A request was sent to the leader. Please wait for confirmation');
            window.location.replace("/dashboard");
          }else{
            alert('An error has occurred:'+ res.status);
          }      
        });

      });
    </script>
  </body>

</html>
